<div id="search">
    <div id="forms">
        <form action="/search" method="get">
            <label>
                <select name="country" id="country">
                    <option value="" disabled selected></option>
                    <option value="us">USA</option>
                    <option value="lv">Latvia</option>
                    <option value="ca">Canada</option>
                </select>
            </label>
            <input name="topic" type="text" placeholder="topic">
            <input type="date" id="from" name="from">
            <input type="date" id="to" name="to">
            <input type="submit" name="submit" value="submit">
        </form>
    </div>
</div>